<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <providers resource="providers.config"/>
  <database>
    <provider name="sqlServer4.0"/>
    <dataSource name="iBatisNetSQL" connectionString="Data Source=localhost;Initial Catalog=contralaft-privado;User ID=sa ;Password=abcd1234."/>
  </database>
  <sqlMaps>
    <sqlMap resource="Recursos/core/Usuario.xml"/>
    <sqlMap resource="Recursos/core/Entidad.xml"/>
    <sqlMap resource="Recursos/core/Accion.xml"/>
    <sqlMap resource="Recursos/core/Indicador.xml"/>
    <sqlMap resource="Recursos/core/IndicadorEntidad.xml"/>
    <sqlMap resource="Recursos/common/Menu.xml"/>
    <sqlMap resource="Recursos/common/Perfil.xml"/>
    <sqlMap resource="Recursos/common/Rol.xml"/>
    <sqlMap resource="Recursos/common/PerfilRol.xml"/>
  </sqlMaps>
</sqlMapConfig>
